<header class="header fixed-top">
  <div class="row">
    <div class="col-2">
      <img src="../../assets/img/logotext.png" id="logo-text" alt="logo texto">
      </div>
      <div class="col-2">
      <img src="../../assets/img/logoimg.png" id="logo-img" alt="logo imagen">
    </div>
    <div class="col-7 nav">
      <nav>
       <ul class="list-inline">
        <li class="list-inline-item"><a routerLink="/">Bienvenid@</a> |</li>
        <li class="list-inline-item"><a routerLink="/menu">Nuestros Platos</a> |</li>
        <li class="list-inline-item"><a routerLink="/about">Sobre Nosotros</a> |</li>
        <li class="list-inline-item"><a routerLink="/contact">Contacto y Reserva</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-1 rrss">

    </div>
  </div>
</header>
