<div class="container-fluid" *ngIf="menuCost != 0 ">
  <div class="content">
    <h2>Menú:</h2>
    <ul class="orderList">
      <li *ngFor="let order of orderList" class="row">
        <div class="mt-1 col-8">
          <strong>{{ order.quant }}x</strong> {{ order.name }} ({{ order.price }}€/ud): {{ ((order.price * order.quant * 100) - (order.price * order.quant * 100) % 1) / 100 }}€
        </div>
        <div class="mt-1 col">
          <button (click)="increment(order.id)" [ngClass]='order.id + " btn-default"'><strong>+</strong></button>
          <button (click)="remove(order.id)" [ngClass]='order.id + " btn-default"'><strong>-</strong></button>
        </div>
      </li>
    </ul>
    <h5><strong>Total: {{ menuCost }} € </strong></h5>
  </div>
</div>
