.about {
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  position: relative;
  margin-top: 160px;
  margin-bottom: 70px;
  border-radius: 5px;
  padding: 20px;
}
.content {
  align-content: center;
  padding: 20px;
}
img {
  margin: 20px 0;
}
h4 {
  align-self: center;
  text-align: center;
  width: 70%;
}
p{
  text-align: justify;
}
