body {
  background: url("./assets/img/background.jpg") no-repeat center center fixed;
  /*Hay que meterle ../ para que vaya atras en el arbol de directorios. Esta en css/ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
