<div class="container-fluid content">
  <div class="row">
    <div class="col-5">
      <div class="row">
        <div class="col-5">
          <ul class="categories list-group">
            <h2>Nuestros platos:</h2>
            <div *ngFor="let category of dishesCategories" [class.selected]="category === selectedCategory" (click)="selectCategory(category)">
              <li class="list-group-item mt-1">{{ category }}</li>
            </div>
          </ul>
        </div>
        <div class="col-7">
          <ul class="dishes" *ngIf="selectedCategory">
           <h2>{{ selectedCategory }}:</h2>
            <div *ngFor="let dish of dishes" [class.selected]="dish === selectedDish" (click)="onSelect(dish)">
              <li *ngIf="dish.category == selectedCategory"><span class="badge">{{dish.id}}</span> {{dish.name}}</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-8">
          <app-dish-detail [dish]="selectedDish">
          </app-dish-detail>
        </div>
        <div class="col-4">
          <app-order></app-order>
        </div>
      </div>
    </div>
  </div>
</div>
