h2{
  margin-left: 5px;
}
.content{
  margin-top: 180px;
  margin-left: 10px;
  font-size: 1.2em;
}
.categories, .dishes {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 3px;
}
.list-group-item, li {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  margin-top: 2px;
}
li:hover, div.selected>li {
  background-color: rgba(200, 200, 200, 0.8) !important;
  border-radius: 2px;
}
li{
  list-style-type: none;
}
span {
  color: white;
  background-color: #C0A581;
  border-radius: 20px;
}
